* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f8f7f3;
  --secondary-color: #1a24fb;
}

#root {
  font-family: "Montserrat", sans-serif;
  font-family: "Overpass", sans-serif;
  width: 100%;
  height: auto;
}

.header-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.header-button {
  font-size: 24px;
}

.header-title {
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;
  gap: 100px 20px;
}

.card {
  position: relative;
  border: solid 1px var(--secondary-color);
  padding: 40px;
}

.card-number {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}
