* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f8f7f3;
  --secondary-color: #1a24fb;
}

#root {
  font-family: "Montserrat", sans-serif;
  font-family: "Overpass", sans-serif;
  width: 100%;
  height: auto;
}

.header-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding-left: 20px;
  padding-right: 20px;
}

.header-button {
  font-size: 24px;
  cursor: pointer;
}

.header-title {
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.cards-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;
  gap: 100px 20px;
  padding-top: 100px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 20px;
  border: solid 1px var(--secondary-color);
  padding: 40px;
  height: 450px;
  color: var(--secondary-color);
}

.card-number {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}

button {
  width: 100%;
  height: 18px;
  border: none;
  background-color: white;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  cursor: pointer;
}

.card-button-text {
  font-size: 14px;
}

.arrow {
  font-size: 18px;
}

/*add media query between 420px and 720px*/

@media (max-width: 720px) {
  .cards-container {
    grid-template-columns: 1fr;
    gap: 50px 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
